{% extends "layout.html" %}
{% block title %}Course{% endblock %}
{% block content %}
    <h1 class="title">Course</h1>

    <table class="table">
      <tr>
        <th>Name:</th>
        <td>{{ course.name }}</td>
      </tr>
      <tr>
        <th>Department:</th>
        <td>{{ course.department }}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{ course.description }}</td>
      </tr>
      <tr>
        <th>Lecturer's Name:</th>
        <td>{{ course.lecturerName }}</td>
      </tr>
      <tr>
        <th>VF Condition:</th>
        <td>{{ course.VF_conditions }}</td>
      </tr>
    </table>

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
