

<td>
{%if attendance.attendance[0]==1%}
<input type="checkbox" name="week1" value="1" checked>
{%endif%}
{%if attendance.attendance[0]!=1%}
<input type="checkbox" name="week1" value="0">
{%endif%}
</td>

<td><input type="checkbox" name="week2" value="1" ></td>

<td><input type="checkbox" name="week3" value="1" ></td>

<td><input type="checkbox" name="week4" value="1" ></td>

<td><input type="checkbox" name="week5" value="1" ></td>

<td><input type="checkbox" name="week6" value="1" ></td>

<td><input type="checkbox" name="week7" value="1" ></td>

<td><input type="checkbox" name="week8" value="1" ></td>

<td><input type="checkbox" name="week9" value="1" ></td>

<td><input type="checkbox" name="week10" value="1" ></td>

<td><input type="checkbox" name="week11" value="1" ></td>

<td><input type="checkbox" name="week12" value="1"></td>

<td><input type="checkbox" name="week13" value="1" ></td>

<td><input type="checkbox" name="week14" value="1"></td>
</tr>


              <td>
              {%if attendance.attendance[0]==1%}
              <input type="checkbox" name="week1" value="1" checked>
              {%endif%}
              {%if attendance.attendance[0]!=1%}
              <input type="checkbox" name="week1" value="0">
              {%endif%}
              </td>

              {%if attendance.attendance[1]==1%}
              <td><input type="checkbox" name="week2" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[1]!=1%}
              <td><input type="checkbox" name="week2" value="0"></td>
              {%endif%}

              {%if attendance.attendance[2]==1%}
              <td><input type="checkbox" name="week3" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[2]!=1%}
              <td><input type="checkbox" name="week3" value="0"></td>
              {%endif%}

              {%if attendance.attendance[3]==1%}
              <td><input type="checkbox" name="week4" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[3]!=1%}
              <td><input type="checkbox" name="week4" value="0"></td>
              {%endif%}

              {%if attendance.attendance[4]==1%}
              <td><input type="checkbox" name="week5" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[4]!=1%}
              <td><input type="checkbox" name="week5" value="0"></td>
              {%endif%}

              {%if attendance.attendance[5]==1%}
              <td><input type="checkbox" name="week6" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[5]!=1%}
              <td><input type="checkbox" name="week6" value="0"></td>
              {%endif%}

              {%if attendance.attendance[6]==1%}
              <td><input type="checkbox" name="week7" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[6]!=1%}
              <td><input type="checkbox" name="week7" value="0"></td>
              {%endif%}

              {%if attendance.attendance[7]==1%}
              <td><input type="checkbox" name="week8" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[7]!=1%}
              <td><input type="checkbox" name="week8" value="0"></td>
              {%endif%}

              {%if attendance.attendance[8]==1%}
              <td><input type="checkbox" name="week9" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[8]!=1%}
              <td><input type="checkbox" name="week9" value="0"></td>
              {%endif%}

              {%if attendance.attendance[9]==1%}
              <td><input type="checkbox" name="week10" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[9]!=1%}
              <td><input type="checkbox" name="week10" value="0"></td>
              {%endif%}

              {%if attendance.attendance[10]==1%}
              <td><input type="checkbox" name="week11" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[10]!=1%}
              <td><input type="checkbox" name="week11" value="0"></td>
              {%endif%}

              {%if attendance.attendance[11]==1%}
              <td><input type="checkbox" name="week12" value="1"checked></td>
              {%endif%}
              {%if attendance.attendance[11]!=1%}
              <td><input type="checkbox" name="week12" value="0"></td>
              {%endif%}

              {%if attendance.attendance[12]==1%}
              <td><input type="checkbox" name="week13" value="1" checked></td>
              {%endif%}
              {%if attendance.attendance[12]!=1%}
              <td><input type="checkbox" name="week13" value="0" ></td>
              {%endif%}

              {%if attendance.attendance[13]==1%}
              <td><input type="checkbox" name="week14" value="1"checked></td>
              {%endif%}
              {%if attendance.attendance[13]!=1%}
              <td><input type="checkbox" name="week14" ></td>
              {%endif%}
