def home_page():
    today=datetime.today()
    day_name=today.strftime("%A")
    return render_template("login.html",day=day_name)

def login_page():
        form = LoginForm()
        if form.validate_on_submit():
            username = form.data["username"]
            user = get_user(username)
            if user is not None:
                password = form.data["password"]
                if hasher.verify(password, user.password):
                    login_user(user)
                    flash("You have logged in.")
                    next_page = request.args.get("next", url_for("home_page"))
                    return redirect(next_page)
            flash("Invalid credentials.")
        return render_template("login.html", form=form)
