{% extends "layout2.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="box">
  <div class="column is-4 is-offset-4">
    <h3 class="title has-text-grey">Register</h3>
    <form class="register-form" action="" method="post" name="register">
      <div class="field">
        <input type="text" name="Name" placeholder="Name:">
      </div>

      <div class="field">
        <input type="text" name="Username" placeholder="Username:">
      </div>

      <div class="field">
        <input type="email" name="Email Address" placeholder="Email:">
      </div>

      <div class="field">
        <input type="password" name="Password" placeholder="Password:">
      </div>

      <div class="field">
        <input type="password" name="Repeat Password" placeholder="Repeat Password:">
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Create
      </button>
      <a href="/">If you registered,Login</a>
    </form>
  </div>
  
</div>
{% endblock %}
