{% extends "layout.html" %}
{% block title %}{{current_user.username}}{% endblock %}
{% block content %}

          <div class="information-box">
            <h1 class="title">Hello Student !!!</h1>
            <table class="table">
              <tr>
                <th><i>You can see your VF courses below:</i></th>
              </tr>
              {% for course_key, course in courses %}
              <tr>
                <td>
                  {{ course.name }}
                </td>
              </tr>
              {% endfor %}
            </div>

{% endblock %}
