{% extends "layout.html" %}
{% block title %}{{current_user.username}}{% endblock %}
{% block content %}

          <div class="box">
            <h1 class="title">Hello Student !!!</h1>
            <div class="box">
                      <table class="table">
                        <tr>
                          <th><i>You can see your VF courses below:</i></th>
                        </tr>
                        {% for course_key, course in courses %}
                        <tr>
                          <td>
                            {{ course.name }}
                          </td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>         
             <div class="box">
                <div class="field is-grouped">
                  <div class="control">
                    <h5>Do you want reset your program ?</h5>
                    <p>Are you sure ?</p>
                    <input type="radio" name="reset"  required="required" value="1" checked/>YES <br>
                    <input type="radio" name="reset"  required="required" value="0">NO<br>
                    <button class="button is-primary is-small">Reset</button>
                  </div>
                </div>
              </div>
          </div>

{% endblock %}
